body {
	/* set HTML + body to min height to check if it fixes gradient issue */
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

body, html {
	min-height: 100%;
}

#circleDiv {
	max-width: 350px;
	height: 100%;
	margin: 0;
}

#circleCanvas {
	width: 100%;
	height: 100%;
	margin: 0;
}

#catPics img {
	border-radius: 50%;
}